{% extends "base/post_login.html" %}

{% block page_title %} Categories {% endblock %}

{% block page_heading %} Categories{% endblock %}
{% block page_description %} [All your expense categories] {% endblock %}

{% block breadcrumb %}
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Category</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Categories</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="text" id="category_name" placeholder="Add New Category" class="form-control">
                            <span class="input-group-btn">
                                    <button onClick="saveCategory()" type="submit" class="btn btn-info btn-flat">Add</button>
                                </span>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="category_table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="sub_categories_div">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sub Categories of <i id="sel_category_on_sub_cat"></i></h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="text" id="sub_category_name" placeholder="Add New Sub Category" class="form-control">
                            <span class="input-group-btn">
                                    <button onClick="saveSubCategory()" type="submit" class="btn btn-info btn-flat">Add</button>
                                </span>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="sub_category_table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block page_specific_css %}
{% endblock %}

{% block page_specific_js  %}
    <script>
        loadCategories();
        $("#sub_categories_div").hide();
        function loadCategories(){
            $.ajax({
                url: "LoadCategories",
                type:"POST",
                data:{
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                success:function(data){
                    var parsedData = $.parseJSON(data);
                    var content = "";
                    $.each(parsedData, function(index, element) {
                        content += '<tr onClick="loadSubCategories('+element["id"]+',\''+element["name"]+'\')">';
                        content += '<td><i class="fa fa-dot-circle-o"></i> <strong>&nbsp;&nbsp;'+ element["name"]+'</strong></td>';
                        content += '<td class="pull-right"><i style="color: deeppink" class="fa fa-pencil"></i> &nbsp;&nbsp; <i onClick="deleteCategory('+element["id"]+')" style="color: red" class="fa fa-trash"></i></td>';
                        content += '</tr>'
                    });
                    $("#category_table").html(content)
                },
                error:function(data){
                    alert("Error : "+data.responseText);
                }
            });
        }

        function saveCategory(){
            $.ajax({
                url: "SaveCategory",
                type:"POST",
                data:{
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "category_name":$("#category_name").val()
                },
                success:function(data){
                    if(data == "1" || data == 1){
                        $("#category_name").val("");
                        loadCategories();
                    }
                    else{
                        alert("Failed to delete");
                    }
                },
                error:function(data){
                    alert("Error : "+data.responseText);
                }
            });
        }

        function deleteCategory(categoryId){
            if(confirm("Confirm your action : ")){
                $.ajax({
                    url: "DeleteCategory",
                    type:"POST",
                    data:{
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        "id":categoryId
                    },
                    success:function(data){
                        if(data == "1" || data == 1){
                            loadCategories();
                        } else {
                            alert("Failed to delete category");
                        }
                    },
                    error:function(data){
                        alert("Error : "+data.responseText);
                    }
                });
            }
        }

        var categoryId = 0;
        var categoryName = "";
        function loadSubCategories(id,catName){
            categoryId = id;
            categoryName = catName;
            $("#sel_category_on_sub_cat").html(categoryName);
            $.ajax({
                url: "LoadSubCategories",
                type:"POST",
                data : {
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "id" : id
                },
                success:function(data){
                    if(data == "0" || data==0){
                        alert(data);
                    }else{
                        var parsedData = $.parseJSON(data);
                        var content = "";
                        $.each(parsedData, function(index, element) {
                            content += '<tr><td><i class="fa fa-dot-circle-o"></i> <strong>&nbsp;&nbsp;'+ element["name"]+'</strong></td><td class="pull-right"><i style="color: deeppink" class="fa fa-pencil"></i> &nbsp;&nbsp; <i onClick="deleteSubCategory('+element["id"]+')" style="color: red" class="fa fa-trash"></i></td></tr>'
                        });
                        $("#sub_category_table").html(content);
                        $("#sub_categories_div").show();
                    }
                },
                error:function(data){
                    alert("Error : "+data.responseText);
                }
            });
        }


        function deleteSubCategory(subCategoryId){
            if(confirm("Confirm your action : ")){
                $.ajax({
                    url: "DeleteSubCategory",
                    type:"POST",
                    data:{
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        "id":subCategoryId
                    },
                    success:function(data){
                        if(data == "1" || data == 1){
                            loadSubCategories(categoryId,categoryName);
                        }
                        else{
                            alert(data);
                        }
                    },
                    error:function(data){
                        alert("Error : "+data.responseText);
                    }
                });
            }
        }


        function saveSubCategory(){
            $.ajax({
                url: "SaveSubCategory",
                type:"POST",
                data:{
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "category_id":categoryId,
                    "sub_category_name":$("#sub_category_name").val()
                },
                success:function(data){
                    if(data == "1" || data == 1){
                        $("#sub_category_name").val("");
                        loadSubCategories(categoryId,categoryName);
                    }
                    else{
                        alert(data);
                    }
                },
                error:function(data){
                    alert("Error : "+data.responseText);
                }
            });
        }

    </script>
{% endblock %}